<div clas="container-fluid" style="padding-top: 100px;">
    <div class="row titulo">
        <div class="col-lg-1"></div>
        <div class="col-lg-1">
        <h2>Proyectos</h2>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
         <div class="col-lg-10">
            <h5>Mi Portfolio</h5>
            <h6>Argentina Programa 4.0 - Actualidad</h6>
            <p>Aplicación web full stack que muestra mis datos personales, estudios cursados, experiencia laboral, habilidades y proyectos personales. De arquitectura distribuida, contiene un diseño de interfaz de usuario (front end) con información propia, base de datos que almacena la misma y las APIs necesarias para proveer a través de internet la información (back end).</p>
            <img src="../../../assets/proyectoArg.PNG" style="width:100%">
            <div class="col-lg-1"></div>
    </div>