<div clas="container-fluid">
    <div class="row">
        <h3>Proyectos</h3>
    </div>
    <div class="row">
        <div class="col-4" align="center">
            <img src="https://media.licdn.com/dms/image/D4D0BAQGt_Sqch7OKpg/company-logo_200_200/0/1681340856165?e=1689206400&v=beta&t=u9xphwhsdY4q4hvQGxB5HSxRkOGjO3Q9cC-2QXmPmNA" width="20%">
        </div>
        <div class="col-8">
            <div class="row">
                <h5>Mi Portfolio</h5>
                <h6>Argentina Programa 4.0 - Actualidad</h6>
                <p>Aplicación web full stack que muestra mis datos personales, estudios cursados, experiencia laboral, habilidades y proyectos personales. De arquitectura distribuida, contiene un diseño de interfaz de usuario (front end) con información propia, base de datos que almacena la misma y las APIs necesarias para proveer a través de internet la información (back end).
                </p>
            </div>
        </div>
    </div>