<div class="row titulo">
    <h3>Educación</h3>
</div>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <img src="../../../assets/Arg programa.png" style="width:100px; border-radius: 100%;" alt="logo ARGENTINA PROGRAMA">
                <h5>Full Stack Developer Jr</h5>
                <h6>En curso</h6>
            </li>
            <li>
                <img src="../../../assets/motivarte.png" style="width:100px; border-radius: 100%;" alt="logo MOTIVARTE">
                <h5>Curso de fotografía</h5>
                <h6>2016</h6>
            </li>
            <li>
                <img src="../../../assets/UBA.png" style="width:100px; border-radius: 100%;" alt="logo UBA">
                <h5>Científicos por un día</h5>
                <h6>2015</h6>
            </li>
            <li>
                <img src="../../../assets/UBA.png" style="width:100px; border-radius: 100%;" alt="logo UBA">
                <h5>Experiencias didácticas</h5>
                <h6>2015</h6>
            </li>
            <li>    
                <img src="../../../assets/cardenal spinola.png" style="width:100px; border-radius: 100%;" alt="logo COLEGIO CARDENA SPINOLA">
                <h5>Bachillerato en Cs. Naturales</h5>
                <h6>2010 - 2015</h6>
            </li> 
        </ul>    
    </div>
</div>    