<div class="row" style="padding-top: 20px;">
    <div class="col-1"></div>
    <div class="col"><h2>Experiencia laboral</h2></div>
    <div class="col" style="text-align:right">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>
    <div class="col-1"></div>
    <div class="row">
        <div class="col-1"></div>
    <div class="col-10">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td [width]="200" style="text-align: center; vertical-align: middle;">
                        <h4>{{Experiencia.nombreE}}</h4>
                    </td>
                    <td style="vertical-align: middle;">{{Experiencia.descripcionE}}</td>
                    <td *ngIf="isLogged" style="text-align: right;">
                        <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i></button>
                        <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>

</div>