div{
    background: #6a023f;
    color: white;
    text-align: justify;
}
.titulo{
    background-color: #6a023f;
    color:white;
    padding: 60px;
}
li {
    margin-bottom: 60px;
    margin-right:30px;
    padding: 0;
  }