div{
    background: black;
    color: white;
}
.titulo{
    background-color: black;
    color:white;
    padding-top: 60px;
}

table{
  background-color: black;
  color:white;
}
li {
    margin-bottom: 60px;
    margin-right:30px;
    padding: 0;
  }
  .boton {
    background-color: #c30072;
    font-weight: 500;
    color:black;
}
h2{
    color:#c30072;
  }