<div class="fondo">
<div class="container" *ngIf="persona">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" style="margin-top: 13rem; margin-bottom: 11rem;">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="persona.apellido" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="persona.descripcion" required>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-dark" onclick="history.back()"> Volver</button>
                        <button class="btn btn-dark" style="margin-left:10px">Actualizar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>