<div class="row" style="padding-top: 20px;">
    <div class="col-1"></div>
    <div class="col" style="text-align:right">
        <button type="button" class="btn boton" routerLink="/editacercade/1" *ngIf="isLogged">
            Editar persona
        </button>
    </div>
    <div class="col-1"></div>
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="https://media.licdn.com/dms/image/D4D03AQFX1wl2mvRcrg/profile-displayphoto-shrink_800_800/0/1679934149169?e=1686787200&v=beta&t=0P_YOtZwkaLFZxqvmdMN55tUCIWMOYeGPxfZBaSTOdo" id="fotoperfil" class ="img-fluid" alt="Imágen de perfil Agustina">
    </div>
</div>
<div class="row" style="justify-content: space-evenly; padding-bottom: 100px">   
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <h3 id="nombre">{{persona.nombre}} {{persona.apellido}}</h3>
        <h6 style="text-align: center">Full Stack Developer Jr</h6>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7" style="text-align:center">
        <span>
            <h5 id="acercademi">Acerca de mí</h5>
            <p>{{persona.descripcion}} </p>
        </span>
    </div>
</div>
</div>