<div class="row">
    <img src="https://media.licdn.com/dms/image/D4D03AQFX1wl2mvRcrg/profile-displayphoto-shrink_800_800/0/1679934149169?e=1686787200&v=beta&t=0P_YOtZwkaLFZxqvmdMN55tUCIWMOYeGPxfZBaSTOdo" height="10%">
</div>
<div class="row">
    <div class="col" align="center">
        <h3>Agustina Mari Malga</h3>
        <h6>Full Stack Developer Jr</h6>
    </div>
    <div class="col">
        Soy una persona proactiva a la que le gusta trabajar en equipo. Me dedico a la venta de servicios intangibles dentro del rubro tecnológico. Me gustaría desarrollarme profesionalmente en el ámbito de la programación. 
    </div>
</div>