div{
    background-color: black;
    color: white;
}

/*etiqueta nombre*/
#nombre {
    margin-top:10%;
    text-align: center;
}


/*estilo de la foto de perfil*/
@media(min-width:576px){
#fotoperfil{
    position: absolute;
    width: 15%;
    border-radius: 100%;
    left: 10%;
    top: 540px;
}
}

@media(max-width:575px){
    #fotoperfil{
        position: absolute;
        width: 50%;
        border-radius: 100%;
        left: 25%;
        top: 460px;
    }
    }

