<div class="fondo">
<div class="container" *ngIf="expLab">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm"  style="margin-top: 13rem; margin-bottom: 11rem;">
                <div class="form-group">
                    <label for="nombreE">Nombre de la empresa</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="expLab.nombreE" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="descripcionE">Descripcion de la tarea</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="expLab.descripcionE" required>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-dark" onclick="history.back()"> Volver</button>
                        <button class="btn btn-dark" style="margin-left:10px">Actualizar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>