<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="https://media.licdn.com/dms/image/D4D03AQFX1wl2mvRcrg/profile-displayphoto-shrink_800_800/0/1679934149169?e=1686787200&v=beta&t=0P_YOtZwkaLFZxqvmdMN55tUCIWMOYeGPxfZBaSTOdo" id="fotoperfil" class ="img-fluid" alt="Imágen de perfil Agustina">
    </div>
</div>
<div class="row" style="justify-content: space-evenly; padding-bottom: 100px">   
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <h3 id="nombre">Agustina Mari Malga</h3>
        <h6 style="text-align: center">Full Stack Developer Jr</h6>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7" style="text-align:center">
        <span>
            <h5 id="acercademi">Acerca de mí</h5>
            <p>Soy una persona proactiva a la que le gusta trabajar en equipo. Me dedico a la venta de servicios intangibles dentro del rubro tecnológico. Me gustaría desarrollarme profesionalmente en el ámbito de la programación. </p>
        </span>
    </div>
</div>