<div class="fondo">
<div class="container" *ngIf="skill">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" style="margin-top: 13rem; margin-bottom: 11rem;">
                <div class="form-group">
                    <label for="nombre">Nombre de la habilidad</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="skill.nombre" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="porcentaje">Ingresar el porcentaje</label>
                    <input type="number" class="form-control" id="porcentaje" name="porcentaje" min="1" max="100" [(ngModel)]="skill.porcentaje" required>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-dark" onclick="history.back()"> Volver</button>
                        <button class="btn btn-dark" style="margin-left:10px">Actualizar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>