<div class="row" style="padding-top: 100px">
    <div class="col-1"></div>
    <div class="col"><h2>Habilidades</h2></div>
    <div class="col" style="text-align: right">
        <button type="button" class="btn boton" routerLink="/newskill" *ngIf="isLogged">
           Agregar Habilidades
        </button>
    </div>
    <div class="col-1"></div>
    <div class="row">
          <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
              <circle-progress
                [percent]="skill.porcentaje"
                [radius]="85"
                [showUnits]="false"
                [title]="skill.nombre"
                [titleColor]="'white'"
                [titleFontSize]="'2em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="14"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'white'"
                [innerStrokeColor]="'#6a023f'"
                [animation]="true"
                [animationDuration]="600"
              ></circle-progress>
                <div>
                    <td *ngIf="isLogged" style="text-align: right">
                        <button class="btn btn-light" routerLink="/editskill/{{ skill.id }}">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button class="btn btn-danger" (click)="delete(skill.id)">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </td>
                </div>
          </div>
    </div>  
</div>
